h1 {
  text-align: center;
  font-size: 100px;
  margin-top: 200px;
  animation-name: logo;
  animation-duration: 1.5s;
  /* animation-iteration-count: infinite; */
}

@keyframes logo {
  0% {
    transform: translateY(0) scale(0.1);
    font-size: 10px;
  }
  10% {
    transform: translateY(-30px) scale(0.5) rotateZ(30deg);
    font-size: 15px;
  }
  20% {
    transform: translateY(5px) scale(0.8) rotateZ(-50deg);
    font-size: 30px;
  }
  30% {
    transform: translateY(-50px) scale(0.9);
    font-size: 30px;
  }
  40% {
    transform: translateY(10px) scale(1);
    font-size: 40px;
  }
  60% {
    transform: translateY(-90px) rotateX(0.5turn) rotateZ(5deg);
    font-size: 80px;
  }
  65% {
    transform: translateY(-30px) rotateX(0.8turn) rotateZ(-5deg);
    font-size: 80px;
  }
  68% {
    transform: translateY(10px) rotateX(1.0turn) rotateZ(2deg);
    font-size: 90px;
  }
  70% {
    transform: rotateZ(3deg);
  }
  75% {
    transform: translateY(20px) rotateZ(-2deg);
  }
  80% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: scale(1);
  }
}